[Unit]
Description=Fadecandy server
After=multi-user.target fcserver.service
Requires=fcserver.service

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/home/pi/burnerbike/env/bin/python /home/pi/burnerbike/burnerbike.py

[Install]
WantedBy=multi-user.target
