[Unit]
Description=Fadecandy server
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/home/pi/burnerbike/fadecandy/server/fcserver /home/pi/burnerbike/fcserver.config

[Install]
WantedBy=multi-user.target
